<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>User's Form <span [ngStyle]="style">{{msg}}</span></strong>
        </div>
        <div class="card-body">
          
          <form [formGroup]="fGroup" (ngSubmit)="submit()">

              <div class="form-group row">

                <label for="oldPassword" class="col-sm-2 col-form-label">Old Password:</label>

                <div class="col-sm-6">

                  <input type="password" 
                         class="form-control"
                         formControlName="oldPassword"
                        >
                </div>
              
              </div>

              <div formGroupName="passwords">
                <div class="form-group row">

                  <label for="password" class="col-sm-2 col-form-label">New Password:</label>
  
                  <div class="col-sm-6">
  
                    <input type="password" 
                            class="form-control"
                            formControlName="password"
                            >
                  </div>
                
                </div>
  
                <div class="form-group row">
  
                  <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password:</label>
  
                  <div class="col-sm-6">
  
                    <input type="password" 
                            class="form-control"
                            formControlName="repeat"
                            >
                  </div>
                  
                  <div class="col-sm-4">
                    <div style="color:red;" *ngIf="status">Password don't matched</div>
                  </div>

                </div>
                
              </div>

              <div class="form-group row">
                  <div class="col-sm-6">

                    <button class="btn btn-primary" [disabled]="!fGroup.valid">Submit</button>
                    
                  </div>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>