<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Order's Form</strong>
        </div>
        <div class="card-body">
          
          <form [formGroup]="fGroup" (ngSubmit)="submit()">

              <div class="form-group row">

                <label for="prjectName" class="col-sm-2 col-form-label">Project Name:</label>

                <div class="col-sm-4">

                  <input type="text" 
                          class="form-control"
                          formControlName="prjectName"
                          >
                  <div style="color:red;" *ngIf="!fGroup.controls['prjectName'].valid && fGroup.controls['prjectName'].touched ">This Field id Required</div>

                </div>

                <label for="projectType" class="col-sm-2 col-form-label">Type:</label>

                <div class="col-sm-4">

                  <select class="form-control"
                          formControlName="projectType"
                          >
                    <option *ngFor="let type of dependencies.projectType" [value]="type.type_cd">{{type.type_desc}}</option>

                  </select>

                  <div style="color:red;" *ngIf="!fGroup.controls['projectType'].valid && fGroup.controls['projectType'].touched ">This Field id Required</div>

                </div>
              
              </div>

              <div class="form-group row">

                <label for="socPerson" class="col-sm-2 col-form-label">Society Person:</label>

                <div class="col-sm-4">

                  <input type="text" 
                          class="form-control"
                          formControlName="socPerson"
                          >

                </div>

                <label for="contactNo" class="col-sm-2 col-form-label">Contact No:</label>

                <div class="col-sm-4">

                  <input type="text" 
                         class="form-control"
                         formControlName="contactNo"
                         >

                </div>
              
              </div>

              <div class="form-group row">

                <label for="designation" class="col-sm-2 col-form-label">Designation:</label>

                <div class="col-sm-4">

                  <input type="text" 
                          class="form-control"
                          formControlName="designation"
                          >
                </div>

              </div>

              <div class="form-group row">

                <label for="dist" class="col-sm-2 col-form-label">District:</label>

                <div class="col-sm-4">

                  <select formControlName="dist" class="form-control">
                      <option *ngFor="let district of dependencies.dist" [value]="district.district_code">{{district.district_name}}</option>
                  </select>
                  
                  <div style="color:red;" *ngIf="!fGroup.controls['dist'].valid && fGroup.controls['dist'].touched ">This Field id Required</div>

                </div>
                
                
                <label for="block" class="col-sm-2 col-form-label">Block:</label>

                <div class="col-sm-4">

                  <input type="text" formControlName="block" class="form-control">

                </div>


              </div>

              <div class="form-group row">

                <label for="orderDt" class="col-sm-2 col-form-label">Order Date:</label>

                <div class="col-sm-4">

                  <input type="date" 
                         formControlName="orderDt" 
                         class="form-control"
                         >
                  
                  <div style="color:red;" *ngIf="!fGroup.controls['orderDt'].valid && fGroup.controls['orderDt'].touched ">This Field id Required</div>

                </div>

                <label for="orderDetails" class="col-sm-2 col-form-label">Order Details:</label>

                <div class="col-sm-4">

                  <input type="text" 
                          class="form-control"
                          formControlName="orderDetails"
                          >
                </div>

              </div>

              <div class="form-group row">
                
                <label for="orderValue" class="col-sm-2 col-form-label">Order Value:</label>

                <div class="col-sm-4">

                  <input type="text" 
                          class="form-control"
                          formControlName="orderValue"
                          >
                </div>
              
              </div>

              <div class="form-group row">

                <label for="tax" class="col-sm-2 col-form-label">Tax:</label>

                <div class="col-sm-4">

                  <input type="tax"
                         formControlName="tax" 
                         class="form-control"
                         >
                </div>

                <label for="paymentTerms" class="col-sm-2 col-form-label">Payment Terms:</label>

                <div class="col-sm-4">

                  <input type="text"
                         formControlName="paymentTerms" 
                         class="form-control"
                         >

                </div>
              
              </div>

              <div class="form-group row">

                <label for="monthlyRental" class="col-sm-2 col-form-label">Monthly Rental:</label>

                <div class="col-sm-4">

                  <input type="text" 
                         formControlName="monthlyRental" 
                         class="form-control"
                         >

                </div>

                <label for="paymentStatus" class="col-sm-2 col-form-label">Payment Status:</label>

                <div class="col-sm-4">

                  <input type="text"
                         formControlName="paymentStatus" 
                         class="form-control"
                         >

                </div>
              
              </div>

              <div class="form-group row">

                <label for="salePerson" class="col-sm-2 col-form-label">Sale Person:</label>

                <div class="col-sm-4">

                  <input type="text" 
                         formControlName="salePerson" 
                         class="form-control"
                         >

                </div>

              </div>

              <div class="form-group row">

                <label for="installedBy" class="col-sm-2 col-form-label">Installed By:</label>

                <div class="col-sm-4">

                  <input type="text" 
                         formControlName="installedBy"
                         class="form-control"
                         >

                </div>

                <label for="installationDate" class="col-sm-2 col-form-label">Installation Date:</label>

                <div class="col-sm-4">

                  <input type="text"
                         formControlName="installationDate"
                         class="form-control"
                         >
                </div>
              
              </div>

              <div class="form-group row">

                <label for="sssRemarks" class="col-sm-2 col-form-label">SSS Remarks:</label>

                <div class="col-sm-4">

                  <textarea formControlName="sssRemarks" class="form-control"></textarea>

                </div>

                <label for="customerRemarks" class="col-sm-2 col-form-label">Customer Remarks:</label>

                <div class="col-sm-4">

                  <textarea formControlName="customerRemarks" class="form-control"></textarea>

                </div>
              
              </div>

              <div class="form-group row">
                  <div class="col-sm-4">

                    <button class="btn btn-primary" [disabled]="!fGroup.valid">Submit</button>
                    
                  </div>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>